---
import Header from "@/components/organisms/header.vue";
import Card from "@/components/organisms/card.vue";
import CardLock from "@/components/organisms/cardlock.vue";

const stores = [
  {
    id: 1,
    name: "SuperStore",
    address: "123 Market St, Cityville, Country",
    owner: [
      {
        id: 1001,
        email: "owner@example.com",
        name: "John Doe",
        taxId: "123-456-789",
        phoneNumber: "555-1234",
        ownedStores: [],
        adminStores: [],
      },
    ],
    admin: [
      {
        id: 2001,
        email: "admin1@example.com",
        name: "Jane Smith",
        taxId: "987-654-321",
        phoneNumber: "555-5678",
        ownedStores: [],
        adminStores: [],
      },
      {
        id: 2002,
        email: "admin2@example.com",
        name: "Bob White",
        taxId: "123-456-789",
        phoneNumber: "555-4321",
        ownedStores: [],
        adminStores: [],
      },
    ],
    revenue: 5000000,
    quote: [],
  },
  {
    id: 2,
    name: "MegaMart",
    address: "456 Commerce Ave, Cityville, Country",
    owner: [
      {
        id: 1002,
        email: "owner2@example.com",
        name: "Alice Cooper",
        taxId: "123-654-987",
        phoneNumber: "555-9876",
        ownedStores: [],
        adminStores: [],
      },
    ],
    admin: [
      {
        id: 2003,
        email: "admin3@example.com",
        name: "Tom Jones",
        taxId: "456-789-123",
        phoneNumber: "555-5679",
        ownedStores: [],
        adminStores: [],
      },
    ],
    revenue: 7000000,
    quote: [],
  },
];
---

<Header client:load />
<div class="home-section">
  <div class="head-container">
    <h1>Banyaphon's store</h1>
  </div>
  <div class="store-container">
    {stores.map((store) => <Card client:load store={store} />)}
    <CardLock client:load />
  </div>
</div>

<style scoped>
  h1 {
    text-align: start;
    font-family: Righteous;
    font-size: 48px;
  }
  .home-section {
    display: flex;
    padding: 0px 80px 40px 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  .head-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .store-container {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
  }
  @media (max-width: 440px) {
    .home-section {
      padding: 20px 20px;
    }
  }
</style>
